@font-face {
    font-family: "sous-titre";
    src: url('fonts/Karrik-Regular.woff') format('woff2'),
        url('fonts/Karrik-Regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "titre";
    src: url('fonts/Pilowlava-Regular.woff2') format('woff2'),
        url('fonts/Pilowlava-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.titre{
    color: rgb(0, 0, 0);
    font-family : "titre";
    margin-left : 15px;
    top: 100px;
    position: fixed;
    font-style :normal;
    font-size: 500%;
}

.titlelink{
    top : 300 px;
  color: rgb(0, 0, 0);
  font-family : "sous-titre";
  margin-left: 15px;
  top : 20px;
  position: absolute;
  font-size: 500%;
    block-size : 50%;
}
.legende{
  color: #1919E6;
font-weight: light ;
margin-left : 15px;
  top : 250 px;
  margin-bottom : 5px;
  position: relative ;
  font-size: 100%;
}

.intention{
  color: #1919E6;
  font-family : "sous-titre";
  margin-left: 1020px;
margin-right: 75px;
  top : 280px;

  position: absolute;
  font-size: 200%;
}
body{
    background-color: rgb(236, 235, 234);
    margin-top: 250px;
    

}


  .carousel-wrapper {
    display: flex;
    justify-content: center; /* Centre les carrousels horizontalement */
    align-items: center; /* Centre les carrousels verticalement */
    flex-wrap: wrap; /* Permet d'avoir plusieurs carrousels sur plusieurs lignes si nécessaire */
    gap: 100px; /* Espacement entre les carrousels */
    width: 100%;
    margin-top: 20px;
  }
  .carousel-container {
    position: relative;
    width: 1000px; /* Largeur du carrousel */
    height: 800px; /* Hauteur du carrousel */
    overflow: hidden;

  }

  /* Conteneur des images (qui se déplacent) */
  .carousel-images {
    display: flex;
    width: 100%;
  }

  /* Chaque image dans le carrousel */
  .carousel-images img { 
    width: 100%; /* Chaque image prend la largeur du conteneur */
    height: 100%;
    object-fit: cover;
  }

  .carousel-caption {
    font-family: "sous-titre";
    position: relative;
    text-align: center;
    color: #1919E6;
    align-items: center;
    padding: 10px;
    margin-bottom: 5px; /* Marge pour séparer la légende du carrousel */
  }

  /* Style des boutons de navigation */
  .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #1919E6;
    border: none;
    font-size: 50px;
    cursor: pointer;
    z-index: 1;
  }

  .prev-button {
    left: 10px;
  }

  .next-button {
    right: 10px;
  }
    .moving-image {
      position: absolute;
      width: 500px;
      height: auto;
    transition: transform 20s linear;
      pointer-events: none;
    }
@media (max-width: 768px) {
   .titre{
       top : 25px;
       font-size: 350%;
       text-align : left;

   }
    .titlelink{
       font-size: 200%;
       text-align : left;

   }
   .intention {
       margin-left: 25px;
margin-right: 25px;
  top : 1000px;
    
        width: 90%
    }
      .carousel-container {
        width: 90%;
    }
    .container {
        width: 90%;
        margin-top : 30px;
    }

    .carousel-button {
        top: 15%;
    
  }body{
    margin-top: 150px;
    

}
     .carousel-wrapper {
    gap: 10px; /* Espacement entre les carrousels */

  }
        .video {
    width: 380px;
        height : 220px;
    

  }
    .moving-image{
      width: 100px;
    height : auto;
    

  }
    .legende {
      font-size : 60%;  
    

  }

}

}
  
