 @font-face {
    font-family: "titre";
    src: url('fonts/Pilowlava-Regular.woff2') format('woff2'),
        url('fonts/Pilowlava-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    color: antiquewhite;
}
@font-face {
    font-family: "sous-titre";
    src: url('fonts/Karrik-Regular.woff') format('woff2'),
        url('fonts/Karrik-Regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    color: antiquewhite;
}

#video-background {
    position: fixed; /* La vidéo est fixée en arrière-plan */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Assure que la vidéo couvre toute la page */
    z-index: -1; /* La vidéo reste en arrière-plan */
}

.item1{
    color: rgb(250, 250, 250);
    font-size : 300%;
    font-family: "sous-titre";
    display : block;
    right: 35%;
    top:15%;
 animation: vol 20s linear infinite alternate-reverse;
    position: absolute;
    left:0;
    top:0;
    
}

@keyframes vol {
    0% {left:10%; top:80%; transform:rotate:(20deg);}
    50% {left: 25%; top: 20%; transform:rotate:(20deg);}
    80% {left: 40%; top: 30%; transform:rotate:(80deg);}

    
}
}

.item2{
    color: rgb(250, 250, 250);
    font-size : 300%;
    font-family: "sous-titre";
    position: fixed;
    display: block;
    right: 10%;
    top: 25%;
  animation: vol 1s linear infinite alternate-reverse;
    position: absolute;
    left:0;
    top:0;
    
}
}
.item3{
    color: rgb(250, 250, 250);
    font-size : 300%;
    font-family: "sous-titre";
    position: fixed;
    display: block;
    right: 35%;
    top: 45%;
  animation: vol 1s linear infinite alternate-reverse;
    position: absolute;
    left:0;
    top:0;
    
}
}
.item4{
    color: rgb(250, 250, 250);
    font-size : 300%;
    font-family: "sous-titre";
    position: fixed;
    display: block;
    right: 10%;
    top: 65%;
  animation: vol 1s linear infinite alternate-reverse;
    position: absolute;
    left:0;
    top:0;
    
}
}
.item5{
    color: rgb(250, 250, 250);
    font-size : 300%;
    font-family: "sous-titre";
    position: fixed;
    display: block;
    right: 35%;
    top: 75%;
  animation: vol 1s linear infinite alternate-reverse;
    position: absolute;
    left:0;
    top:0;
    
}

}
.titre{
    color: rgb(250, 250, 250);
    font-family : "titre";
    left : 15px;
    top : 1px;
    position: fixed;
    font-style :normal;
    font-size: 500%;
}
.sous-titre{
    color: rgb(235, 228, 228);
    font-family : "sous-titre";
    left : 20px;
    top : 150px;
    position: fixed ;
    font-style :normal;
    font-size: 150%;
}

      

@media (max-width: 768px) {
 .image-desktop {
                display: none;
            }

 .image-mobile {
                display: block;
            }
 .titre{
       font-size: 350%;
       text-align : center;

   }
    .sous-titre{
     margin-top :0px;
       font-size: 100%;
       text-align : center;

   }
    .item1{
    left: 50px;
    top: 600px;
    font-size :120%;

}
    .item3{
    left: 50px;
    top: 280px;
    font-size :120%;

}
    .item2{
    left: 50px;
    top: 360px;
     font-size : 120%;

}
    .item4{
    left:50px;
    top: 440px;
    font-size :120%;
    

}
    .item5{
    left: 50px;
    top: 520px;
    font-size :120%;

}

}
