 @font-face {
    font-family: "titre";
    src: url('fonts/Pilowlava-Regular.woff2') format('woff2'),
        url('fonts/Pilowlava-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    color: antiquewhite;
}
@font-face {
    font-family: "sous-titre";
    src: url('fonts/Karrik-Regular.woff') format('woff2'),
        url('fonts/Karrik-Regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    color: antiquewhite;
}

#video-background {
    position: fixed; /* La vidéo est fixée en arrière-plan */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Assure que la vidéo couvre toute la page */
    z-index: -1; /* La vidéo reste en arrière-plan */
}

.item1{
    color: rgb(250, 250, 250);
    font-size : 300%;
    font-family: "sous-titre";
    position:fixed;
    display : block;
    right: 35%;
    top:15%;
}

.item2{
    color: rgb(250, 250, 250);
    font-size : 300%;
    font-family: "sous-titre";
    position: fixed;
    display: block;
    right: 10%;
    top: 25%;

}
.item3{
    color: rgb(250, 250, 250);
    font-size : 300%;
    font-family: "sous-titre";
    position: fixed;
    display: block;
    right: 35%;
    top: 45%;

}
.item4{
    color: rgb(250, 250, 250);
    font-size : 300%;
    font-family: "sous-titre";
    position: fixed;
    display: block;
    right: 10%;
    top: 65%;

}
.item5{
    color: rgb(250, 250, 250);
    font-size : 300%;
    font-family: "sous-titre";
    position: fixed;
    display: block;
    right: 35%;
    top: 75%;

}
.titre{
    color: rgb(250, 250, 250);
    font-family : "titre";
    left : 15px;
    top : 1px;
    position: fixed;
    font-style :normal;
    font-size: 500%;
}
.sous-titre{
    color: rgb(235, 228, 228);
    font-family : "sous-titre";
    left : 20px;
    top : 150px;
    position: fixed ;
    font-style :normal;
    font-size: 150%;
}
.image {
            width: 100%;
            height: auto;
        }

        /* Cacher l'image mobile par défaut */
        .image-mobile {
            display: none;
        }


@media (max-width: 768px) {
 .image-desktop {
                display: none;
            }

            .image-mobile {
                display: block;
            }
 .titre{
       font-size: 350%;
       text-align : left;

   }
    .sous-titre{
       font-size: 200%;
       text-align : left;

   }
    .item1{
    left: 100px;
    top: 600px;
    font-size :75%;

}
    .item3{
    left: 100px;
    top: 280px;
    font-size :75%;

}
    .item2{
    left: 100px;
    top: 360px;
     font-size : 75%;

}
    .item4{
    left: 100px;
    top: 440px;
    font-size :75%;
    

}
    .item5{
    left: 100px;
    top: 520px;
    font-size :75%;

}

}
