@font-face {
    font-family: "titre";
    src: url('fonts/Pilowlava-Regular.woff2') format('woff2'),
        url('fonts/Pilowlava-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "sous-titre";
    src: url('fonts/Karrik-Regular.woff') format('woff2'),
        url('fonts/Karrik-Regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body{
    background-image: src("img/P1030213.webp");

}

.item1{
    font-size : 300%;
    font-family: "sous-titre";
    position:fixed;
    display : block;
    right: 35%;
    top:15%;
    color: rgb(61, 4, 77);
}

.item2{
    font-size : 300%;
    font-family: "sous-titre";
    position: fixed;
    display: block;
    right: 10%;
    top: 25%;
    color: rgb(73, 7, 91);

}
.item3{
    font-size : 300%;
    font-family: "sous-titre";
    position: fixed;
    display: block;
    right: 35%;
    top: 45%;
    color: rgb(61, 4, 77);

}
.item4{
    font-size : 300%;
    font-family: "sous-titre";
    position: fixed;
    display: block;
    right: 10%;
    top: 65%;
    color: rgb(61, 4, 77);

}
.item5{
    font-size : 300%;
    font-family: "sous-titre";
    position: fixed;
    display: block;
    right: 35%;
    top: 75%;
    color: rgb(61, 4, 77);

}
.titre{
    color: rgb(0, 0, 0);
    font-family : "titre";
    left : 15px;
    top : 1px;
    position: fixed;
    font-style :normal;
    font-size: 500%;
}
.sous-titre{
    color: rgb(0, 0, 0);
    font-family : "sous-titre";
    left : 20px;
    top : 150px;
    position: fixed ;
    font-style :normal;
    font-size: 150%;
}
.presentation{
    color: rgb(251, 251, 251);
    font-family : "sous-titre";
    left: 400 px;
    bottom: -2000px;
    position: absolute;
    font-style : italic;
    font-size: 150%;
}
@media (max-width: 768px) {
   body{
    background-size : 40%;

   }
    .titre{
    font-size :300 px;
}
    .sous-titre{
    font-size :200 px;
}
    .presentation{
    marger-bottom : 50 px;
}

.item1{
    position: sticky;
    text-align : left;
    margin-top : 80 px;
    

}
    .item2{
        position: sticky;
  text-align : left;
    margin-top : 80 px;
}
       .item3{
           position: sticky;
    text-align : left;
    margin-top : 80 px;
}
       .item4{
           position: sticky;
    text-align : left;
    margin-top : 80 px;
}
    .item5{
        position: sticky;
   text-align : left;
    margin-top : 80 px;
}
    

}
